body {
  background: url("img/pink dust/pink dust.png");
  margin-top: 50px;
  background-attachment: fixed;
  font-family: 'Muli', sans-serif;
  position: relative;
  text-align: center;
}

#random-page {
  color: #F3D9B1;
}

button {
  margin: auto;
  font-family: 'Muli', sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #F3D9B1;
  text-decoration: none;
}

.result-title {
  font-size: 1.7em;
  margin: 5px;
}

.result-summary {
  font-family: 'Muli', sans-serif;
  font-size: 1.2em;
}

.search-result {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.4);
  margin: 2em 7em;
  padding: 0.5em;
}

#random-page {
  margin-bottom: 1em;
}

#random-page:hover {
  cursor: pointer;
}

#search {
  font-size: 1.4em;
  text-align: left;
  border: solid 3px #565656;
  width: 7em;
  padding: 0.4em;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  background: #e5efff;
}

#search:focus {
  width: 15em;
  border: solid 3px black;
}
