body {
  background: url("/Users/lisaifahn/GraphicResources/Textures/subtleTextures/stardust/stardust.png");
  margin-top: 50px;
  background-attachment: fixed;
  font-family: 'Open-Sans', sans-serif;
  position: relative;
  text-align: center;
  color: #21201f;
}

button {
  margin: auto;
  font-family: 'Open Sans', sans-serif;
}

i {
  font-size: 7em;
  margin: 0.2em;
}

a {
  color: black;
}

a:hover {
  color: #01378e;
  text-decoration: none;
}

.result-title {
  font-family: 'Merriweather', serif;
}

.result-summary {
  font-family: 'Merriweather', serif;
}

.search-result {
  background-color: grey;
  margin: 2em 7em;
  padding-bottom: 0.5em;
}

#random-page {
  margin-bottom: 1em;
}

#random-page:hover {
  cursor: pointer;
}

#search {
  font-size: 1.4em;
  text-align: left;
  border: solid 3px #565656;
  width: 7em;
  padding: 0.4em;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  background: #e5efff;
}

#search:focus {
  width: 15em;
  border: solid 3px black;
}
